<header id="header" class="header">
    <div class="top-left">
        <div class="navbar-header">
            BIENVENU SUR CINEPAX APPLICATION
            <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
        </div>
    </div>
    <div class="top-right">
        <div class="header-menu">
            <div class="user-area dropdown float-right">
                <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar rounded-circle" src="https://www.cornwallbusinessawards.co.uk/wp-content/uploads/2017/11/dummy450x450.jpg" alt="User Avatar">
                </a>
                <div class="user-menu dropdown-menu">
                    <a class="nav-link" href="#"><i class="fa fa-user"></i>Mon profile</a>
                    <a class="nav-link" href="@Url.Action("LogOut", "Home")"><i class="fa fa-power-off"></i>Déconnexion</a>
                </div>
            </div>

        </div>
    </div>
</header>